{% extends 'base.html.twig' %}

{% block body %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>About Us</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-6">

                <!-- Default Card -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Who Are We ?</h5>
                        We are a non profit association that works on helping funding patients in need and help growing private projects and small businesses.
                    </div>
                </div><!-- End Default Card -->

                <!-- Card with header and footer -->
                <div class="card">
                    <div class="card-header">Hierarchy</div>
                    <div class="card-body">
                        <h5 class="card-title">Who runs our Association ?</h5>
                        This Association is run by an Admin and a superior administration that is composed of a CEO and a General Secretary.
                        We also have special Workers that communicate with our Funders in order to facilitate funding our targets.
                    </div>
                </div><!-- End Card with header and footer -->

                <!-- Card with an image on left -->
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ asset('assets/img/service.jpg') }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Our Services</h5>
                                <p class="card-text">We provide many services within our Association.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End Card with an image on left -->
            </div>

            <div class="col-lg-3">

                <!-- Card with an image on top -->
                <div class="card">
                    <img src="{{ asset('assets/img/office.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Association's Office</h5>
                        <p class="card-text">Our office is located in bla-bla.</p>
                    </div>
                </div><!-- End Card with an image on top -->

                <!-- Card with an image on bottom -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Our stories</h5>
                        <p class="card-text">We'll share with you some of our stories and inspirations.</p>
                    </div>
                    <img src="{{ asset('assets/img/stories.jpg') }}" class="card-img-bottom" alt="...">
                </div><!-- End Card with an image on bottom -->

            </div>

            <div class="col-lg-3">

                <!-- Card with an image overlay -->
                <div class="card">
                    <img src="{{ asset('assets/img/involve.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Get involved with US !</h5>
                        <p class="card-text">If you’re looking for the best inspiration to help people in need, this place is th one.</p>
                    </div>
                </div><!-- End Card with an image overlay -->

                <!-- Card with titles, buttons, and links -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Thinking about joining us ?</h5>
                        <h6 class="card-subtitle mb-2 text-muted">it's Super Simple !</h6>
                        <p class="card-text">Contact us on this email and we will give you all the details to help grow our association and create a brighter future together.</p>
                        <a href="#" class="card-link">OurAssociation@gmail.com</a>
                    </div>
                </div><!-- End Card with titles, buttons, and links -->
            </div>
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}
